body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:502px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:502px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:243px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:359px;
  height:40px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  word-wrap:break-word;
}
