body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-1px;
  width:360px;
  height:620px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:198px;
  width:131px;
  height:16px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:197px;
  width:20px;
  height:18px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:192px;
  width:77px;
  height:27px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:86px;
  width:351px;
  height:92px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:97px;
  width:335px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:578px;
  width:360px;
  height:40px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:619px;
  overflow:hidden;
  visibility:hidden;
}
#u963_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:619px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u963_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:48px;
  top:144px;
  visibility:hidden;
}
#u966_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:274px;
  height:170px;
  background-image:none;
}
#u966_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:170px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:19px;
  width:29px;
  height:16px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:51px;
  width:239px;
  height:60px;
  line-height:20px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:130px;
  width:103px;
  height:27px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
