body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-1px;
  width:360px;
  height:620px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:579px;
  width:360px;
  height:40px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:88px;
  width:352px;
  height:170px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:172px;
  width:273px;
  height:60px;
  line-height:28px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:110px;
  width:137px;
  height:18px;
  font-family:'楷体 Bold', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:138px;
  width:27px;
  height:26px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:143px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
