body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:592px;
  width:140px;
  height:40px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u818 {
  position:absolute;
  left:34px;
  top:591px;
}
#u818_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background-image:none;
}
#u818_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u819_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819.mouseOver {
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u818_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  visibility:hidden;
  background-image:none;
}
#u818_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:495px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:495px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
