body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-1px;
  width:360px;
  height:680px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:444px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:85px;
  width:360px;
  height:444px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
