body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:360px;
  height:1px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體';
  font-weight:400;
  font-style:normal;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:360px;
  height:39px;
  font-family:'新細明體';
  font-weight:400;
  font-style:normal;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Agency FB Normal', 'Agency FB';
  font-weight:400;
  font-style:normal;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:95px;
  width:239px;
  height:19px;
  font-family:'Agency FB Normal', 'Agency FB';
  font-weight:400;
  font-style:normal;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:360px;
  height:39px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:286px;
  width:277px;
  height:16px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:95px;
  width:22px;
  height:20px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:129px;
  width:343px;
  height:140px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:144px;
  width:335px;
  height:113px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:284px;
  width:23px;
  height:21px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:320px;
  width:343px;
  height:156px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:335px;
  width:335px;
  height:129px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:360px;
  height:40px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:90px;
  width:77px;
  height:27px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
