body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:360px;
  height:1px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:94px;
  width:161px;
  height:21px;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:20px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:144px;
  width:314px;
  height:20px;
  font-size:16px;
  text-align:center;
  line-height:20px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:360px;
  height:40px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:189px;
  width:309px;
  height:200px;
  line-height:20px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
