body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:284px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:84px;
  width:350px;
  height:284px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:385px;
  width:113px;
  height:16px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:385px;
  width:161px;
  height:16px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:264px;
  width:91px;
  height:20px;
  opacity:0;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2E8;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:293px;
  width:43px;
  height:16px;
  color:#00A2E8;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:360px;
  height:40px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:133px;
  width:55px;
  height:23px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:166px;
  width:31px;
  height:16px;
  color:#FF0000;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
