body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:360px;
  height:640px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:470px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:84px;
  width:359px;
  height:470px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:227px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:360px;
  height:160px;
  opacity:0;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:244px;
  width:360px;
  height:160px;
  opacity:0;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:405px;
  width:360px;
  height:160px;
  opacity:0;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:470px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:566px;
  width:360px;
  height:470px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:227px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:566px;
  width:360px;
  height:160px;
  opacity:0;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:726px;
  width:360px;
  height:160px;
  opacity:0;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:888px;
  width:360px;
  height:160px;
  opacity:0;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
