body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:461px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:360px;
  height:461px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:212px;
  width:353px;
  height:105px;
  opacity:0;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:324px;
  width:353px;
  height:105px;
  opacity:0;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:433px;
  width:353px;
  height:105px;
  opacity:0;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:86px;
  width:81px;
  height:67px;
  opacity:0;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:84px;
  width:81px;
  height:67px;
  opacity:0;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:84px;
  width:81px;
  height:67px;
  opacity:0;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:85px;
  width:81px;
  height:67px;
  opacity:0;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
