body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:599px;
  width:360px;
  height:40px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:86px;
  width:351px;
  height:92px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:97px;
  width:335px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:190px;
  width:239px;
  height:19px;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:185px;
  width:77px;
  height:27px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:213px;
  width:1px;
  height:34px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:273px;
  width:1px;
  height:34px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:310px;
  width:23px;
  height:21px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:311px;
  width:131px;
  height:16px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:368px;
  width:23px;
  height:21px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:369px;
  width:131px;
  height:16px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:191px;
  width:20px;
  height:18px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:332px;
  width:1px;
  height:34px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:251px;
  width:131px;
  height:16px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:250px;
  width:20px;
  height:18px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:241px;
  width:77px;
  height:27px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
