body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:139px;
  width:314px;
  height:40px;
  line-height:20px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:191px;
  width:100px;
  height:16px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u498_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:216px;
  width:266px;
  height:16px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u500_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:239px;
  width:292px;
  height:16px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u502_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:262px;
  width:158px;
  height:16px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u504_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:360px;
  height:1px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:94px;
  width:161px;
  height:21px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:360px;
  height:40px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  line-height:20px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:297px;
  width:314px;
  height:20px;
  font-size:13px;
  line-height:20px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:333px;
  width:217px;
  height:16px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u515_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:362px;
  width:269px;
  height:16px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u517_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:394px;
  width:284px;
  height:16px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u519_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:424px;
  width:269px;
  height:16px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u521_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:455px;
  width:217px;
  height:16px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u523_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
  overflow:hidden;
  visibility:hidden;
}
#u525_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u525_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528 {
  position:absolute;
  left:28px;
  top:189px;
  visibility:hidden;
}
#u528_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
  background-image:none;
}
#u528_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:22px;
  width:29px;
  height:16px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:66px;
  width:171px;
  height:16px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:103px;
  width:119px;
  height:32px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
