body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:444px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:444px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:359px;
  height:40px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  word-wrap:break-word;
}
