body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:579px;
  width:360px;
  height:40px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:95px;
  width:335px;
  height:110px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:124px;
  width:287px;
  height:74px;
  line-height:28px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
